/* Config */
:root {
  --arrow-size: 12px;
}

:host {
  @apply(--typography);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: var(--border-radius);
  z-index: var(--on-top);
}

.controls {
  position: relative;
  display: inline-flex;
  background: var(--blue);
  border-radius: var(--border-radius);
  color: white;
  z-index: 1;
}

.controls__save {
  padding: 0 1.5em;
  font-weight: 600;
}

.controls__save[busy] {
  color: var(--med-white);
}

.controls__menu {
  --icon-size: 21px;
  width: var(--tool-size);
  border-left: 1px solid var(--light-white);
}

.menu {
  position: relative;
  top: var(--arrow-size);
  right: 3px;
  background: white;
  border-radius: var(--border-radius);
  box-shadow: 0 0 2px var(--light-black);
  transform-origin: 90% 0;
  display: none;
}

.menu::before {
  content: '';
  position: absolute;
  top: calc(0px - var(--arrow-size) / 2);
  right: var(--arrow-size);
  height: var(--arrow-size);
  width: var(--arrow-size);
  transform: rotate(45deg);
  background: inherit;
  border-top-left-radius: var(--border-radius);
  box-shadow: -0.5px -0.5px 0.5px var(--light-black);
}

.menu[visible] {
  display: block
}

.menu__item {
  font-size: 14px;
  padding: 0 15px;
  font-weight: 600;
  color: var(--dark-gray);
}
